# Byte-compiled / cache

__pycache__
*.pyc
*.pyo
*.pyd

## Virtual environments

venv/
.venv/
env/

## IDEs

.vscode/
.idea/

## Data and artifacts

# artifacts/  # COMMENTED OUT - need model.pkl and preprocessor.pkl for predictions
notebook/
logs/
catboost_info/

## Distribution/build

build/
dist/
*.egg-info/

## OS files

.DS_Store
Thumbs.db
